<div>
  <% if @player %>
  Welcome player <%= @player %>
  <a href="/battleship">Play the game</a>
    <% else %>
  <form action="/player" method='post'>
    What's your name?
    <input type="text" name="name">
    <input type="submit" value="submit">
  </form>
  <% end %>
</div>

<% if @message %>
	<h1><%= @message %></h1>
<% end %>